<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <img class="mr-3 ml-1" src="/IOTLogo.png" alt="" width="36" height="36">
            <a class="navbar-brand" href="/home">Rehabilitation Assistance</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/programs">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/doctors">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patientDashboard" id="trainButton" type="button" style="display:none;">Train</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="btn btn-outline-success mr-2" id="signinButton" href="/login" type="button">Sign In</a>
                    <a class="btn btn-outline-primary" id="signupButton" href="/register" type="button">Sign Up</a>
                    <button class="btn btn-outline-primary" id="logoutButton" onclick="logout()" type="button" style="display:none;">Log out</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        <p class="mb-5">"</p>
        <div class="container mt-5">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/IOTLogo" alt="IoTLogo" width="72" height="72">
            </div>
            <div class="row mt-5 py-3">
                <div class="col-md-3">
                    <img class="rounded-circle m-2" src="https://i.ibb.co/h7hB6Hn/chrome-1t-LYr-Ma0w-X.png" width="200" height="200" >
                </div>
                <div class="col-md-9">
                    <h1 class="display-4 m-2">John Smith</h1>
                    <p class="m-2">Dr John Smith graduated from the University of NSW in 1989 and now shares his knowledge and experience as a supervisor for medical students. Previously, Jhon has also been an examiner for the Royal Australian College of General Practitioners.</p>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row mt-5">
                <div class="col-md-3">
                    <img class="rounded-circle m-2" src="https://i.ibb.co/DY8gTWM/chrome-Ymj-SADDKC7.png" width=200" height="200" >
                </div>
                <div class="col-md-9">
                    <h1 class="display-4 m-2">Benjamin Huges</h1>
                    <p class="m-2">Dr Benjamin Huges has done clinical work for more than 10 years, skilled in the diagnosis and treatment of common disease, such as respiratory infections, chronicDepartment of surgerical diseases </p>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row mt-5">
                <div class="col-md-3">
                    <img class="rounded-circle m-2" src="https://i.ibb.co/6bZyT38/chrome-MZ9vrwa-B0p.png" width="200" height="200" >
                </div>
                <div class="col-md-9">
                    <h1 class="display-4 m-2">Sarah Kim</h1>
                    <p class="m-2">Dr Sarah Kim is currently the director of KanJang Surgery Clinic in Seoul since 2001. She graduated from the University Ajoo. Dr Sarah Kim is internatin confederation for reconstructive and rehabilitation surgery member.</p>
                 </div>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="container mt-5">
            <p class="float-right mt-5"><a href="#">Back to top</a></p>
            <p class="float-left mt-5">&copy; UTS Internet of Things group5</p>
        </footer>
    </main>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script>
        var login = sessionStorage.getItem("login");
        if (login != "-1") {
            document.getElementById("signinButton").style.display = "none";
            document.getElementById("signupButton").style.display = "none";
            document.getElementById("logoutButton").style.display = "block";
            document.getElementById("trainButton").style.display = "block";
        }
        function logout() {
            sessionStorage.setItem("login", "-1");
            document.getElementById("signinButton").style.display = "block";
            document.getElementById("signupButton").style.display = "block";
            document.getElementById("logoutButton").style.display = "none";
            document.getElementById("trainButton").style.display = "none";
        }
    </script>
</body>
</html>
