<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <img class="mr-3 ml-1" src="/IOTLogo.png" alt="" width="36" height="36">
            <a class="navbar-brand" href="/home">Rehabilitation Assistance</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/programs">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctors">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patientDashboard" id="trainButton" type="button" style="display:none;">Train</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="btn btn-outline-success mr-2" id="signinButton" href="/login" type="button">Sign In</a>
                    <a class="btn btn-outline-primary" id="signupButton" href="/register" type="button">Sign Up</a>
                    <button class="btn btn-outline-primary" id="logoutButton" onclick="logout()" type="button" style="display:none;">Log out</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        <p class="mb-5">"</p>
        <div class="container mt-5">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/Nexus.jpg" alt="" width="72" height="72">
                <h2>Rehabilitation Programs</h2>
            <p class="lead">Rehabilitation is all about ensuring injuries and symptoms don’t return. Its simply not just about exercise or strength, 
                rather more about mobility, stability and proper function. Each of these pillars of rehabilitation are required in exercise and daily 
                activities, maximizing efficiently and reducing the risk of injuring yourself whilst training.</p>

            </div>
            <div class="row mt-5 py-3">
                    <h1 class="display-4 m-2 text-center">Whole Body Rehabilitation Training</h1>
                    <p class="subtext">Injuries where the patient needs full-bodied support, such as gait training, require unique procedures and 
                        consistent repetition. The Rehabilitation Assistant System accommodates these needs through its capability to profile gait 
                        training exercises. Our gait training database provides thorough coverage of the motions needed to provide our patients 
                        with a steady path to recovery. The program and required sensors will be specifically tailored to the injuries the patient 
                        sustained in order to ensure the fastest and most effective recovery.</p>
                   <img style="width: 40%; height: 40%;" src="/WholeBody.png" alt="Whole body diagram of muscles">
            </div>
            <hr class="mb-4">
            <div class="row mt-5">
                    <h1 class="display-4 m-2 text-center">Leg Rehabilitation Training</h1>
                    <p class="subtext">Isolated injuries to the knee or ankle risk long-term mobility impairment unless proper rehabilitation is 
                        undertaken. We have leveraged advancement in IoT technology to provide our patients with seamless integration for our 
                        leg rehabilitation exercise profiles. These cover a wide range of leg impairments and streamline our patients recovery process.</p>
                   <img style="width: 40%; height: 40%;" src="/kneeJoint.png" alt="Hamstring flexion and extension">
            </div>
            <hr class="mb-4">
            <div class="row mt-5">        
                    <h1 class="display-4 m-2 text-center">Elbow Rehabilitation Training</h1>
                    <p class="subtext">Injuries in the elbow area requires specific rehabilitation routines to reactivate the load-bearing capabilities and 
                        flexibility of this key joint. Our elbow rehabilitation database provides our patients with the most successful rehabilitation routines 
                        and an accompanying system for convenient monitoring of the recovery path. </p>
                        <img style="width: 60%; height: 60%;" src="/biceps_brachii.png" alt="biceps-brachii flexion">
                        
                        
                   
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="container mt-5">
            <p class="float-right mt-5"><a href="#">Back to top</a></p>
            <p class="float-left mt-5">&copy; UTS Internet of Things group5</p>
        </footer>
    </main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script>
        var login = sessionStorage.getItem("login");
        if (login != "-1") {
            document.getElementById("signinButton").style.display = "none";
            document.getElementById("signupButton").style.display = "none";
            document.getElementById("logoutButton").style.display = "block";
            document.getElementById("trainButton").style.display = "block";
        }
        function logout() {
            sessionStorage.setItem("login", "-1");
            document.getElementById("signinButton").style.display = "block";
            document.getElementById("signupButton").style.display = "block";
            document.getElementById("logoutButton").style.display = "none";
            document.getElementById("trainButton").style.display = "none";
        }
</script>
</body>
</html>
