<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        html,
        body {
            height: 100%;
        }
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <img class="mr-3 ml-1" src="/IOTLogo.png" alt="" width="36" height="36">
            <a class="navbar-brand" href="/home">Rehabilitation Assistance</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/programs">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctors">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patientDashboard" id="trainButton" type="button" style="display:none;">Train</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="btn btn-outline-success mr-2" id="signinButton" href="/login" type="button">Sign In</a>
                    <a class="btn btn-outline-primary" id="signupButton" href="/register" type="button">Sign Up</a>
                    <button class="btn btn-outline-primary" id="logoutButton" onclick="logout()" type="button" style="display:none;">Log out</button>
                </form>
            </div>
        </nav>
    </header>
</body>
    <body class="text-center">
        <form class="form-signin">
            <img class="mb-4" src="https://i.ibb.co/N9HjWcD/Untitled-1.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Email address" required>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" onclick="submitForm(event)">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; UTS IoT group5 2020</p>
        </form>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    
    function submitForm(event){
        event.preventDefault()
        var email = document.getElementById('email').value
        var password = document.getElementById('password').value
        console.log("login button clicked "+email+" "+password);
        sendDetail(email, password)
    }

    function sendDetail(email, password){
        axios.post('/login', {email, password})
        .then((response)=>{
            if( response.status == 200 && response.data.emailError == "incorrectEmail"){
                alert('user not found with this email')
            }
            if( response.status == 200 && response.data.passwordError == "incorrectPassword"){
              alert("Incorrect password")
            }
            if( response.status == 200){
                sessionStorage.setItem("login",email);
                location.replace('home')
            }
            if( response.status == 500){
                alert( 'internal error' )
            }
        })
        .catch((error)=>{
            console.log(error)
        })
    }
</script>

<script>
    function myalert()
    {
        Swal.fire({
            title: 'Custom animation with Animate.css',
            animation: false,
            
            customClass: {
              popup: 'animated tada'
            
            }
          })
    }
</script>
</body>
</html>
