<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .container {
            max-width: 960px;
        }

        .lh-condensed {
            line-height: 1.25;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <img class="mr-3 ml-1" src="https://i.ibb.co/N9HjWcD/Untitled-1.png" alt="" width="36" height="36">
            <a class="navbar-brand" href="index.html">Rehabilitation Assistance</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="programs.html">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="doctors.html">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="patientDashboard.html" id="trainButton" type="button" style="display:none;">Train</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="btn btn-outline-success mr-2" id="signinButton" href="signin.html" type="button">Sign In</a>
                    <a class="btn btn-outline-primary" id="signupButton" href="signup.html" type="button">Sign Up</a>
                    <button class="mr-2" id="nameButton" type="button" style="display:none;"><%=patient.name%></button>
                    <button class="btn btn-outline-primary" id="logoutButton" onclick="logout()" type="button" style="display:none;">Log out</button>
                </form>
            </div>
        </nav>
    </header>
</body>
<body class="bg-light">
    <div class="container">
        <h1 class="m-3">""</h1>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://i.ibb.co/N9HjWcD/Untitled-1.png" alt="" width="72" height="72">
            <h2>Sign up form</h2>
            <p class="lead">Please fill the form below to register our online rehabilitation support system.</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="phone">Phone number</label>
                        <input type="text" class="form-control" id="phone" placeholder="0123456789">
                        <div class="invalid-feedback">
                            Please enter a valid phone number.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for progress updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" >
                        <div class="invalid-feedback">
                            Please enter a valid password.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                        <div class="invalid-feedback">
                            Please enter your home address.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select d-block w-100" id="country" required>
                                <option value="">Choose...</option>
                                <option>United States</option>
                                <option>Australia</option>
                                <option>Korea</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="custom-select d-block w-100" id="state" required>
                                <option value="">Choose...</option>
                                <option>NSW</option>
                                <option>ACT</option>
                                <option>NT</option>
                                <option>QLD</option>
                                <option>SA</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address">
                        <label class="custom-control-label" for="same-address">Agree on terms of service.</label>
                    </div>
                    <hr class="mb-4">
                    <label for="doctor">Doctor in Charge</label>
                    <select class="custom-select d-block w-100" id="doctor" required>
                        <option value="">Choose...</option>
                        <option>John Smith</option>
                        <option>Benjamin Huges</option>
                        <option>Sarah Kim</option>
                    </select>
                    <div class="invalid-feedback">
                        Please choose a doctor.
                    </div>
                    <button class="btn btn-primary btn-lg btn-block mt-4" type="submit" onclick="submitForm(event)">Register</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; UTS IoT group5 2020</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="form-validation.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function submitform(event){
            event.preventDefault()
            var name=document.getElementById('firstName').value +" "+document.getElementById('lastName').value;
            var email=document.getElementById('email').value;
            var password=document.getElementById('password').value;
            var phone=document.getElementById('phone').value;
            var address=document.getElementById('address').value+" "+document.getElementById('state').value+" "+document.getElementById('country').value+" "+document.getElementById('zip').value;
            console.log("register page "+name +" "+email +" "+password+" "+phone+" "+address)  
            sendDetails(name,email,password,phone,address);

        }
        function sendDetails(name,email,password,phone,address){
            axios.post('/register',{name,email,password,phone,address})
            .then((response)=>{
                if(response.status==200 && response.data.usererror=="Userexists") {
                    alert("User already exists");
                    location.replace('register');
                }
                else if(response.status==200){
                    location.replace('login');
                } 
                
                if(response.status==500){
                    alert("internal error");
                }

            })
            .catch((error)=>{
                console.log("error in function sendDetails in register.ejs")
            })

        }



</script>
</body>
</html>

